
  
<div class="container">
      <h3>Showing All Clients</h3>
     <% for(var i=0; i<user.length; i++) { %>
      <div> <a href="/ViewClient/<%=user[i]._id%>"> <%= user[i].contactName %></a> <br>
      <%= user[i].companyName %></div>
      <%}%>
</div>


