<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/CreateArticle.css" crossorigin="anonymous">
    <title>Create New Article</title>
</head>

<body>
   <% include include/RecHeader %>
    <!-- /* CONTAINER START */ -->
    <div class="main" id="main">
        <div class="container" id="container">

            <div class="title jumbotron" id="jumbotron">
                <!-- used title to reduce extra padding on top of  CREATE NEW CANDIDATE -->
                <div class="title jumbotron p-2 bg-secondary">
                    <h3 class="title display-5 py-2 text-white">Create New Article</h3>
                </div>
                <div class="form-row" id="">
                    <div class="sub col-sm-12  mt-4">
                        <h2 class="sub title2 display-5">Article Information</h2>
                    </div>
                    <div class="col-sm-8" >
                        <input type="text" class="b form-control mt-2 textbox" placeholder="Article Name" id="articleName">
                        <input type="text" class="form-control mt-2 textbox" placeholder="Title" id="title">
                        <input type="text" class="form-control mt-2 textbox" placeholder="Content" id="content">
                       <!-- <input type="text" class="b form-control mt-2 textbox" placeholder="Source" id="source">-->
                </div>
                </div>
                <div class="form-row" id="">
                    <div class="sub col-sm-12  mt-4">
                        <h2 class="sub title2 display-5">Article</h2>
                    </div>
                    <div class="col-sm-8" >
                      
                      <label for="comment"></label>
                      <textarea class="form-control" rows="5" placeholder="Article" id="articlen"></textarea>
                      
                    </div>
                </div>
               
                <div class="row mt-4">
                    <div class=" save col-sm-12 bg-secondary ">
                            <button class="saveb btn btn-primary-success m-1 m-sm-2 button" type="submit" id="save">Save</button>
                            <button class="btn btn-primary-success m-1 m-sm-2 button" type="submit" id="saveNew">Save and New</button>
                            <button class="btn btn-primary-success m-1 m-sm-2 button" type="submit" id="cancel">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

      <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="/vendor/text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/script.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });
        var newArticle = 
        {
            articleName:"", 
            title:"",
            content:"",
            articlen:""
        };
        
          $('#save').click(function(){
            newArticle.articleName= $('#articleName').val();
            newArticle.title= $('#title').val();
            newArticle.content= $('#content').val();
            newArticle.articlen= $('#articlen').val();
                
                console.log(newArticle.articlen);
           $.ajax({
               method:"POST",
               url: "/api/articles",
               data: newArticle
           }).done(function(response){
               console.log(response);
               alert("newArticle Submitted Successfully!");
              window.location.replace('/ViewArticle/'+response._id); 
           }).fail(function(response){
               console.log(response.responseText);
               console.log("Not submitted");
           });
                 return false; 
          });
          
        $('#cancel').click(function(){
            window.location.replace('/CareerBlog');
                
        });


    </script>

</body>

</html>
