<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/CreateClients.css" crossorigin="anonymous">
    <title>Create New Client</title>
</head>

<body>
   <% include include/RecHeader %>
    <!-- /* CONTAINER START */ -->
    <div class="main" id="main">
        <div class="container" id="container">

            <div class="title jumbotron" id="jumbotron">
                <!-- used title to reduce extra padding on top of  CREATE NEW CANDIDATE -->
                <div class="title jumbotron p-2 bg-secondary">
                    <h3 class="title display-5 py-2 text-white">Create New Client</h3>
                </div>
                <div class="form-row" id="">
                    <div class="sub col-sm-12  mt-4">
                        <h2 class="sub title2 display-5">Contact Information</h2>
                    </div>
                    <div class="col-sm-8" >
                        <input type="text" class="b form-control mt-2 textbox" placeholder="Contact Name" id="contactName">
                        <input type="text" class="form-control mt-2 textbox" placeholder="Contact Email" id="cEmail">
                        <input type="text" class="form-control mt-2 textbox" placeholder="Contact Phone" id="cPhone">
                        <input type="text" class="b form-control mt-2 textbox" placeholder="Source" id="source">
                </div>
                </div>
                <div class="form-row" id="">
                    <div class="sub col-sm-12  mt-4">
                        <h2 class="sub title2 display-5">Company Information</h2>
                    </div>
                    <div class="col-sm-8" >
                      <input type="text" class="form-control mt-2 textbox" placeholder="Company Name" id="companyName">
                      <input type="text" class="b form-control mt-2 textbox" placeholder="Industry" id="industry">
                      <input type="text" class="form-control mt-2 textbox" placeholder="Website" id="website">
                      <input type="text" class="form-control mt-2 textbox" placeholder="City" id="city">
                      <input type="text" class="b form-control mt-2 textbox" placeholder="District" id="district">
                      <input type="text" class="b form-control mt-2 textbox" placeholder="Country" id="country">
                      <textarea class="form-control mt-2" type="text" rows="1" cols="75" placeholder="Current Address" id="currentAddress"></textarea>
                    </div>
                </div>
                <div class="form-row" id="Attachment">
                    <div class=" col-sm-12 mt-4">
                        <h2 class="title2 display-6">Attachment Information</h2>
                    </div>

                    <div class="row">
                      <div class="col-sm-12 col-md-4">
                          <label  class="lableAttachment">Agreements</label>
                      </div>
                      <div class="col-sm-12 col-md-8">
                            <input type="file" class="form-control mt-2 textbox" id="agreementsAtt">
                      </div>
                      <div class="col-sm-12 col-md-4">
                          <label  class="lableAttachment">Others</label>
                      </div>
                      <div class="col-sm-12 col-md-8">
                            <input type="file" class="form-control mt-2 textbox" id="othersAtt">
                      </div>
                  </div>

                </div>

                <div class="row mt-4">
                    <div class=" save col-sm-12 bg-secondary ">
                        <form class="Savebtn form-inline my-2 my-lg-0 float-right ">
                            <button class="saveb btn btn-primary-success m-1 m-sm-2 button" type="submit" id="save">Save</button>
                            <button class="btn btn-primary-success m-1 m-sm-2 button" type="submit" id="saveNew">Save and New</button>
                            <button class="btn btn-primary-success m-1 m-sm-2 button" type="submit" id="cancel">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

      <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="/vendor/text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/script.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });
        var newClient = {contactName:"", cEmail:"",cPhone:"",source:"",
                         companyName:"",industry:"",website:"",city:"",district:"",
                         country:"",currentAddress:"",agreementsAtt:"",othersAtt:""};
          $('#save').click(function(){
            newClient.contactName=$('#contactName').val();
            newClient.cEmail=$('#cEmail').val();
            newClient.cPhone=$('#cPhone').val();
            newClient.source=$('#source').val();
            newClient.companyName=$('#companyName').val();
            newClient.industry=$('#industry').val();
            newClient.website=$('#website').val();
            newClient.city=$('#city').val();
            newClient.district=$('#district').val();
            newClient.country=$('#country').val();
            newClient.currentAddress=$('#currentAddress').val();
            newClient.agreementsAtt=$('#agreementsAtt').val();
            newClient.othersAtt=$('#othersAtt').val();
            
           $.ajax({
               method:"POST",
               url: "/api/clients",
               data: newClient
           }).done(function(response){
               console.log(response);
               alert("newClient Submitted Successfully!");
              window.location.replace('/ViewClient/'+response._id); 
           }).fail(function(response){
               console.log(response.responseText);
               console.log("Not submitted");
           });
                 return false; 
          });
          
        $('#cancel').click(function(){
            window.location.replace('/Clients');
                
        });


    </script>

</body>

</html>
