<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/UserAdministration.css" crossorigin="anonymous">
    <title>User Administration</title>
</head>

<body>
<% include include/RecHeader %>
    <!-- /* CONTAINER START */ -->
    <div class="main" id="main">
        <div class="container" id="container">

            <div class="title jumbotron" id="jumbotron">
                <!-- used title to reduce extra padding on top of  CREATE NEW CANDIDATE -->
                <div class="title jumbotron p-2 bg-secondary">
                    <h3 class="title display-5 py-2 text-white">User Administration</h3>
                </div>
                    <button type="button" class="button1" onclick="location.href='/AddNewRecruiter';">Add New Recruiter</button>
            </div>
        </div>
    </div>

   <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="/vendor/text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/script.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });


    </script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
   function deleteArticle(index){
     var articles = <%- JSON.stringify(articles) %>;
     var article_id = articles[index]._id;
     $.ajax({
          method:"DELETE",
          url:'/api/articles/'+article_id
     }).done(function(response){
          window.location.replace("/articles/all");
     }).fail(function(response){
          alert("Oops! Article not deleted.");
     });
   }
</script> 

</body>

</html>
