

<div class="container">
      <h3>Showing All Articles</h3>
     <% for(var i=0; i<article.length; i++) { %>
      <div> <a href="/ViewArticle/<%=article[i]._id%>"> <%= article[i].title %></a> <br>
      <%=  article[i].content %></div>
      <%}%>
</div>
