<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/TrackApplicants.css" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
  <% include include/RecHeader %>
    <!-- /* CONTAINER START */ -->
    <div class="main" id="main">
        <div class="container" id="container">

            <div class="title jumbotron" id="jumbotron">
                <!-- used title to reduce extra padding on top of  CREATE NEW CANDIDATE -->
                <div class="title jumbotron p-2 bg-secondary">
                    <h3 class="title display-5 py-2 text-white">Track Applicants</h3>
                </div>
                <br>
                <div class="input-group w-100 ">
                    <input type="text" class="searchtxt form-control" placeholder="Search Keyword" id="search" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default btn-sm" style="background-color:#3DADC3;" id="submit">
                        <span class="glyphicon glyphicon-search" ></span>
                        </button>
                    </div>
                </div>
                <div id="show"> 
                            
                </div>
                

            </div>
        </div>
    </div>

    <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="/vendor/text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/script.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script src="/vendor/ejs_production.js"></script>
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });
          $('#submit').click(function(){
            
             var newSearch = {title:"" };
            newSearch.title=$('#search').val();
                // console.log(newSearch.search);
           $.ajax({
               method:"POST",
               url: "/api/track",
               data: newSearch
           }).done(function(response){
               console.log(response);
               if(response<1){
                    $('#show').text("No Match found!");   
               }
               else if(response){
                  var html = new EJS({url: 'views/recruiter/ListOfTrackedApp.ejs'}).render({resumee:response});
                  $("#show").html(html);
               }
           }).fail(function(response){
               
               console.log(response.responseText);
           });
                 return false; 
          });
          

    </script>

</body>

</html>
