
<h1>Applicant List</h1>
    <% console.log(resumee) %>
    <% console.log(p) %>
    <% for(var i=0; i<resumee.length; i++) { %>
    <h1> <%= resumee[i].fname %> </h1>
    <p>
    <%= resumee[i].lname%>
    </p>
    <h3><%= resumee[i].email%></h3>
    <% } %>
