<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/ApplicantCareerTips.css" crossorigin="anonymous">
    <title>Career Tips</title>
</head>
<body>
<div class="main" id="main">
 <div class="container" id="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title jumbotron" id="jumbotron">
            <div class="container-fluid">
              <div class="row"><br>
                <div class="col-sm-4 col-sm-6 portfolio-item"  style="background-color:lavender;"><br>
                  <div class="container"><br>
                      <% for(var i=64; i<article.length; i++) { %>
                      <h3><%= article[i].title %></h3><br>
                      <p><%=  article[i].content %></p>
                      <button type="button" class="btn btn-default" id="read1">Read More</button><br>
                      <%}%>
                    </div><br>
                    <div id="list"></div>
                  </div><br><br>
                  <div class="col-sm-4 col-sm-6 portfolio-item"  style="background-color:lavenderblush;">
                    <div class="container">
                      <% for(var i=0; i<article.length-64; i++) { %>
                      <h3><%= article[i].title %></h3><br>
                      <p><%=  article[i].content %></p>
                      <button type="button" class="btn btn-default" id="read2">Read More</button><br>
                      <%}%>
                    </div><br>
                  </div>
                    </div>
                  </div>
                
              </div>
            </div>
          <div class="col-md-4">
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="search">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" id="submit">Go!</button>
                </span>
              </div>
            </div>
          </div>
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">CV</a>
                    </li>
                    <li>
                      <a href="#">Interview</a>
                    </li>
                    <li>
                      <a href="#">Written Exam</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Tricks</a>
                    </li>
                    <li>
                      <a href="#">Viva Question</a>
                    </li>
                     <a href="#"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Contact Us</h5>
            <div class="card-body">
              HR Point.
              apllicanttrackingsystem.com.
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

    

    <script src="js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
            function openNav() {
            console.log('aaaaaaaaaaaa');
            document.getElementById("sidebar").style.width = "210px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });
        
    $('#read1').click(function(){
                //window.location.replace('/ViewArticle/'+article._id);
                $.get("/api/articles", function(data, status){
                  var html = new EJS({url: 'views/applicant/viewArticle.ejs'+article._id}).render({article:data});
                  $("#list").html(html);
                });
              });
    $('#read2').click(function(){
                $.get("/api/articles", function(data, status){
                  var html = new EJS({url: 'views/applicant/viewArticle.ejs'}).render({article:data});
                  $("#list").html(html);
                });
              });
    $('#submit').click(function(){
            
             var newSearch = {title:"" };
            newSearch.title=$('#search').val();
            // console.log(newSearch.search);
           $.ajax({
               method:"POST",
               url: "/api/track",
               data: newSearch
           }).done(function(response){
               console.log(response);
               if(response<1){
                    $('#show').text("No Match found!");   
               }
               else if(response){
                  var html = new EJS({url: 'views/applicant/Article.ejs'}).render({article:response});
                  $("#show").html(html);
               }
           }).fail(function(response){
               
               console.log(response.responseText);
           });
                 return false; 
          });
          </script>

  </body>
</html>