<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/style.css">
    <link rel="stylesheet" href="/vendor/css/glyphicons.css">
    <link rel="stylesheet" href="/css/MyProfile.css" crossorigin="anonymous">
    <title>My Profile</title>
       <style>
     p{
         color: #228B22;
         font-size: 20px;
     }
     .button1-delete{
         background:red !important;
     }
 </style>
</head>

<body>
  
      <% include include/header %>
    <!-- /* CONTAINER START */ -->
    <div class="main" id="main">
        <div class="container" id="container">

            <div class="title jumbotron" id="jumbotron">
                <!-- used title to reduce extra padding on top of  CREATE NEW CANDIDATE -->
                <div class="title jumbotron p-2 bg-secondary">
                    <h3 class="title display-5 py-2 text-white">My Profile</h3>
                </div>
                
                <div class="button"> 

                    <button type="button" class="button1" id="viewResume" onclick="location.href='/ViewMyResume';"> <span class="glyphicon glyphicon-eye-open"></span> View My Resume</button>
                    <button type="button" class="button1" id="createResume" onclick="location.href='/CreateMyResume';"> <span class="glyphicon glyphicon-save-file"></span> Create My Resume</button>
                    <button type="button" class="button1" id="editResume" onclick="location.href='/EditMyResume';" ><span class="glyphicon glyphicon-pencil"></span> Edit My Resume</button>
                    <button type="button" class="button1" id="print" ><span class="glyphicon glyphicon-print"></span> Print Resume</button>
                    <!--<button type="button" class="button1" id="email"  ><span class="glyphicon glyphicon-send"></span> Email </button>-->
                    
                </div>
                  
        
            
            
         
      </div>
            </div>
        </div>
    </div>

    <script src="/vendor/js/jquery-3.3.1.js"></script>
    <script type="/vendor/text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/js/script.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>    
    <script>
        function openNav() {
            document.getElementById("sidebar").style.width = "210px";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(0,0,0,0.3)";
            document.getElementById("container").style.backgroundColor = "#B2B2B2";
        }
        function closeNav() {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "#F0F1F6";
            document.getElementById("container").style.backgroundColor = "#F0F1F6";
        }
        $(document.getElementById("main")).click( function() {
          closeNav();
        });
        
        var status = <%- JSON.stringify(request.resumee) %>;
        // console.log(status);  
        
        if(authorizarion == "YES"){
             <p> You are applicable for the <a href="ApplicantTest.ejs">Test</a></p>
        }
     
        if(status=="null"){
            $('#viewResume').hide();
            $('#editResume').hide();
        }
        if(status!="null") {
            $('#createResume').hide();
        }
      

    </script>

</body>

</html>

        