<!DOCTYPE html>
<html lang="en">
<head>
	<title>SignUp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/css/util.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css" crossorigin="anonymous">
</head>
<body style="background-color: #999999;">

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('images/bg-01.png'); "></div>
			<div class="wrap-login100 p-l-50 p-r-50 p-t-35 p-b-50">
					<span class="login100-form-title p-b-59" style="padding-bottom: 30px;">
						<img class="logo" src="/css/hr2.png" height="65" width="230" > <br> 
						   Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input id="name" class="input100" type="text"  placeholder="Name...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input id="email" class="input100" type="email"  placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input id="password" type="password" class="input100" placeholder="*************">
						<span class="focus-input100"></span>
					</div>


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button id="signUp" class="login100-form-btn">
								Sign Up
							</button>
						</div>

						<a href="/signin" class="dis-block txt3 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>

	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/select2/select2.min.js"></script>
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="/vendor/countdowntime/countdowntime.js"></script>
	<script src="/js/main.js"></script>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/ejs_production.js"></script>
	<script>
		 var newUser = {name:"", email:"", password:"", type:"Applicant"};
        $('#signUp').click(function(){
            newUser.name=$('#name').val();
            newUser.email=$('#email').val();
            newUser.password=$('#password').val();
            $.ajax({
              method: 'POST',
              url: "/auth/signup",
              data: newUser
            }).done(function(response){
              console.log(response);
              window.location.replace('/ApplicantDashboard');
            }).fail(function(response){
              console.log(response);
              alert("Please Enter Email/Password again!");
              $("#error").text("Something went wrong! Try again.");
            });
          });
	</script>
</html>

